/*===========================
        default css 
============================*/

body {
  width: 99%;
  height: 90vh;
  background: #eee;
}
i {
  transition: all 0.5s;
}
.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow {
  box-shadow: 3px 3px 0px #b8b8b8;
  transition: all 0.2s;
}
.shadow:hover {
  box-shadow: 6px 6px 0px #b8b8b8;
}
.bar-icon,
.circle-icon,
.square-icon {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  font-size: 40px;
  margin: 15px;
}
.bar-icon {
  overflow: hidden;
}
.bar-icon,
.square-icon {
  width: 118px;
  height: 100px;
}
.circle-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.small-icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
}

/* icon's after */

.bar-icon::after,
.circle-icon::after,
.side-hover::after,
.square-icon::after {
  position: absolute;
  width: 100%;
  background: #000;
  color: #fff;
  transition: all 0.5s;
  z-index: -1;
  content: "";
}
.bar-icon::after {
  height: 5%;
  left: 0;
}
.bar-up::after {
  bottom: 0;
}
.bar-down::after {
  top: 0;
}
.bar-left::after {
  width: 5%;
  height: 100%;
  left: 0;
}
.bar-right::after {
  width: 5%;
  height: 100%;
  left: 112px;
}
.circle-icon::after {
  top: 0;
  height: 100%;
  border-radius: 50%;
  transform: scale(0);
}

.square-icon::after {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.square-top-left::after {
  top: -7px;
  left: -10px;
}
.square-top-right::after {
  top: -7px;
  right: -10px;
}
.square-bottom-left::after {
  bottom: -7px;
  left: -10px;
}
.square-bottom-right::after {
  bottom: -7px;
  right: -10px;
}

.side-hover::after {
  top: 0;
  transform: scale(1);
}
.side-hover-left::after {
  left: -100px;
}
.side-hover-right::after {
  right: -100px;
}
.side-hover-up::after {
  top: -100px;
}
.side-hover-down::after {
  top: 100px;
}

/* hover */

.bar-icon:hover::after {
  height: 100%;
}
.bar-left:hover::after {
  width: 100%;
}
.bar-right:hover::after {
  left: 0;
  width: 100%;
}
.circle-icon:hover::after {
  transform: scale(1);
}

.square-icon:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.square-top-left:hover::after {
  top: 0;
  left: 0;
}
.square-top-right:hover::after {
  top: 0;
  right: 0;
}
.square-bottom-left:hover::after {
  bottom: 0;
  left: 0;
}
.square-bottom-right:hover::after {
  bottom: 0;
  right: 0;
}

.side-hover-left:hover::after {
  left: 0;
}
.side-hover-right:hover::after {
  right: 0;
}
.side-hover-up:hover::after {
  top: 0;
}
.side-hover-down:hover::after {
  top: 0;
}

/* icon hover */
.bar-icon:hover i,
.circle-icon:hover i,
.square-icon:hover i {
  color: #fff !important;
}

/*===========================
        Main css 
============================*/

/* facebook */

#facebook i {
  color: #1877f2;
}
#facebook:after {
  background: #1877f2;
}
/* youtube  */

#youtube i {
  color: #ff0000;
}
#youtube:after {
  background: #ff0000;
}

/* whatsapp  */

#whatsapp i {
  color: #31ba45;
}
#whatsapp:after {
  background: #31ba45;
}

/* #airbnb */

#airbnb i {
  color: #ff385c;
}
#airbnb:after {
  background: #ff385c;
}

/* #apple */

#apple i {
  color: #cccccc;
}
#apple:after {
  background: #cccccc;
}
