* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.container video {
  width: 100%;
  height: 100%;
}
.text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  mix-blend-mode: multiply;
}
.text-box h1 {
  font-size: 100px;
  font-weight: bolder;
}
